<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  "
>
  @for (user of userList; track user.id) {

    @if (user.profession === 'Software developer') {
      <span>{{user.name}} is a {{user?.profession}}</span>
    } @else if (user.profession === 'Scrum master'){
      <span>{{user.name}} is a {{user.profession}}</span>
    }

    @switch (user.age) {
      @case (20) {
        <h4>{{user.name}} is {{user.age}} years old</h4>
      }

      @case (21) {
        <h4>{{user.name}} is {{user.age}} years old</h4>
      }

      @default {
        <span>{{user.name}} is {{user.age}} years old</span>
      }
    }
  }@empty {
    <h1>No data to show</h1>
  }
</div>
